@model Testimonial
<div class="row mt-3">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Update Testimonial</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" placeholder="name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Photo"></label>
                            <input asp-for="Photo" class="form-control" placeholder="name">
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" placeholder="title">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Position"></label>
                            <input asp-for="Position" class="form-control" placeholder="position">
                            <span asp-validation-for="Position" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning mr-2">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_Validation" />
   
}
