@model Slider
@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <img src="~/img/slider/@Model.Image" width="400" height="200" />
    
</div>
<div class="row">
    @Html.Raw(Model.Title)
  
</div>
<div class="row">
    
    <p>@Model.Description</p>
</div>
<div class="row mt-3">
    <a class="btn btn-dark" asp-action="Index">Go Back</a>
</div>