@model IEnumerable<Blog>
@{
    Layout = null;
}

@foreach (var blog in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12 mt-4" style="margin-top:50px" asp-action="Detail">
        <div class="single-blog">
            <div class="blog-img">
                <a href="blog-details.html"><img src="~/img/blog/@blog.Image" alt="blog"></a>
                <div class="blog-hover">
                    <a href="blog-details.html"><i class="fa fa-link"></i></a>
                </div>
            </div>
            <div class="blog-content">
                <div class="blog-top">
                    <p>By @blog.Author  /  @blog.WriteTime.ToString("dddd, dd MMMM yyyy") /  <i class="fa fa-comments-o"></i> 4</p>
                </div>
                <div class="blog-bottom">
                    <h2><a href="blog-details.html">@blog.Title </a></h2>
                    <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">read more</a>
                </div>
            </div>
        </div>
    </div>

}
